@font-face {
    font-family:'PTSans' ;
    src: url('../fonts/PTSans.ttf');
}
body{
    font-family:'PTSans' ;
}
img{
    max-width: 100%;
}
input,
textarea,
button,
select{
    outline: none;
}
.top-header{
    background-color: #30105a;
    color: #fff;
    text-align: center;
}
.top-header .col-md-3{
    border-left: 1px solid #fff;
    min-height: 42px;
    padding: 8px 15px;
}
.top-header .col-md-3:last-child{
    border-right: 1px solid #fff;
}
.top-header a{
    color: #fff;
}
.main-search{
    width: 100%;
    border:0;
    background: transparent url("../images/icons/magnifying-glass.png") no-repeat center right;
    padding-right: 20px;
}
.main-search::placeholder{
    color: #fff;
}
.ic-top{
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.ic-fb{
    background: url("../images/icons/facebook.png") no-repeat center;
}
.ic-ins{
    background: url("../images/icons/instagram.png") no-repeat center;
}
.ic-view{
    background: url("../images/icons/eye.png") no-repeat center;
}
.languages a{
    padding: 0 5px;
}
.languages a.active{
    text-decoration: underline;
}
.top-content{
    background: url("../images/bg/bg-1.png") no-repeat center/cover;
}
.section-rows{
    padding: 30px 0;
}
.logo-box span{
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    max-width: 559px;
    display: inline-block;
    vertical-align: middle;
    padding-left:15px;
}
.box-mus{
    width: 100%;
    height: 390px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 30px 0;
}
.box-mus img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box-mus .name-mus {
    position: absolute;
}
.name-mus{
    bottom: 0;
    left:0;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 10px;
    border: 1px solid #30105a;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 15px;
    color: #30105a;
    text-align: center;
    transition: all ease 0.3s;
}
.name-mus.active,
.box-mus:hover .name-mus{
    background-color: #30105a;
    color: #fff;
}
.other-page .name-mus{
    margin: 30px 0;
}
.navbar.menu{
    margin-bottom: 0;
}
.menu ul > li > a{
    border-radius: 10px;
    border: 1px solid #270652;
    background-color: rgba(255, 255, 255, 0.8);
    color: #30105a;
    font-size: 17px;
    font-weight: 500;
    line-height: 1;
}
.menu li a:hover,
.menu li a:focus,
.menu li.active a{
    background-color: #30105a;
    color: #fff;
}
.menu ul>li{
    padding:0 5px;
}
.menu .navbar-collapse{
    padding: 0;
}
.section-gallery{
    background: url("../images/bg/bg2.png") no-repeat top left;
    min-height: 400px;
}
.page-title{
    font-size: 25px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: #30105a;
    letter-spacing: 2px;
}
.item-gallery{
    margin:30px 10px;
}
.item-gallery img{
    width: 100%;
    height:250px;
    object-fit: cover;
}
.item-gallery p{
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    padding-left: 40px;
    position: relative;
    margin-top: 10px;
}
.item-gallery p:before{
    content: '/';
    color: #30105a;
    font-size: 50px;
    line-height: 1;
    font-weight: 700;
    position: absolute;
    top:-5px ;
    left:0;
}
.slid-gallery .slick-dots li.slick-active button{
    background-color: #30105a;
}
.slid-gallery .slick-dots li button{
    border:1px solid #30105a;
    border-radius: 50%;
}
.slid-gallery .slick-dots li button:before{
    font-size: 0;
}
.section-collection{
    background-color: #7e01ff;
    background-image: linear-gradient(to right, #6926c0 0%, #6926c0 1%, #573080 56%, #30105a 100%);
}
.img-col{
    width: 153px;
    height: 153px;
    overflow: hidden;
    border-radius: 50%;
    background: #000;
    float: left;
}
.section-collection .page-title{
    color: #fff;
}
.item-col{
    margin: 30px 0;
}
.img-col img{
    opacity: .6;
}
.text-col{
    margin-left: 170px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding: 50px 0;
}
.item-resource {
    border-radius: 5px;
    border: 1px solid #ebebeb;
    margin: 10px;
    padding: 10px;
}

.item-resource img {
    width: 65px;
    height: 65px;
    object-fit: scale-down;
    float: left;
}

.item-resource p {
    margin-left: 85px;
    font-weight: 600;
    margin-bottom: 0;
    color: #000;
}
.slid-partner .slick-prev:before{
    content:url("../images/icons/arrow-l.png");
    font-size: 0;
}
.slid-partner .slick-next:before{
    content:url("../images/icons/arrow-r.png");
    font-size: 0;
}
.slid-partner .slick-prev, .slid-partner .slick-next{
    height:45px;
    z-index: 100;
}
.footer-inf p > span{
    color: #30105a;
    font-weight: 700;
}
.title-calendar{
    background-color: #30105a;
    color: #fff;
    text-align: center;
    width: 254px;
    margin: 0 auto;
    padding:7px 15px;
}
.footer,
.inf-section{
    border-top:1px solid #f2f1f1;
}
.footer p{
    margin-bottom: 15px;
}
.icon-bar{
    background-color: #fff;
}
.logo-mob{
    width: 70px;
}
.photo-gallery .item-gallery{
    margin: 20px 0;
}
.ic-time{
    width: 21px;
    height:21px;
    background: url("../images/icons/ic-time.png") no-repeat center/21px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}
.time-block{
    text-align: right;
    font-size: 15px;
    line-height: 24px;
}
.item-article {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px -15px;
}
.item-article a{
    color: #000;
    text-decoration: underline;
}
.item-article img{
    width: 100%;
    height: 165px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}
.title-article{
    font-size: 16px;
}
.text-article{
    height: 120px;
    overflow: hidden;
}
.in-page-article{
    font-size: 16px;
}
.in-page-article img{
    margin: 15px 0;
}
.inf-contact{
    margin-bottom: 20px;
}
.inf-contact p{
    font-size: 16px;
    color: #000;
    margin-bottom: 0;
}
.social-ic{
    font-size: 16px;
}
.social-ic .ic-fb {
    background: url("../images/icons/black-ic-fb.png") no-repeat center/14px;
}

.social-ic .ic-ins {
    background: url("../images/icons/black-ic-ins.png") no-repeat center/14px;
}
.map-box{
    background-color: #f1f1f1;
    min-height: 300px;
}
.box-feedback {
    border: 1px solid #30105a;
    max-width: 360px;
    min-height: 300px;
    margin: 20px auto 60px;

}

.title-feedback {
    color: #fff;
    background-color: #30105a;
    padding: 12px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 1.1;
    white-space: nowrap;
}

.form-feedback {
    padding: 20px 30px;
}

.form-feedback input {
    height: 30px;
}

.form-feedback input,
.form-feedback textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    margin-bottom: 20px;
    padding: 0 10px;
}

.form-feedback textarea {
    max-width: 100%;
    resize: vertical;
    min-height: 120px;
    padding: 10px;
}
.form-feedback input[type="submit"]{
    background-color: #30105a;
    border-color:#30105a;
    color: #fff;
    margin-bottom: 0;
}
.img-cm{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.img-cm img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.text-comments{
    margin-left: 40px;
}
.tx-cmt{
    color: #8e8d8d;
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    padding: 5px;
}
.comment-box{
    max-width: 500px;
}
.name-cmt {
    font-size: 12px;
}
.name-cmt span{
    display: block;
}
.item-comment {
    margin-bottom: 30px;
}
.visually-impaired{
    webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.video-gallery iframe{
    width: 100%;
    height:400px;
    margin: 12px 0;

}

@media (max-width: 992px) {
    .box-mus{
        height:290px;
    }
    .name-mus {
        font-size: 13px;
        line-height: 24px;
        padding: 10px 15px;
    }
    .menu ul>li {
        padding: 0 3px;+
        white-space: nowrap;
    }
    .menu ul > li > a{
        font-size: 14px;
    }
    .text-col{
        margin-left: 0;
        text-align: center;
        padding: 10px 0;
    }
    .img-col{
        float: none;
        margin: 3px auto;
    }
}
@media (max-width: 767px) {
    .navbar.menu {
        background: #30105a;
        margin: 0 -15px;
        padding: 5px 10px 5px 10px;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .logo-mob {
        width: 51px;
    }
    .main-search{
        height:35px;
        border:1px solid rgba(255, 255, 255, 0.51);
        background: transparent url("../images/icons/magnifying-glass.png") no-repeat center right 10px;
        padding: 0 10px;
        color: #fff;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .menu .navbar-toggle{
        margin-right: 0;
    }
    .languages{
        float: right;
        margin-top: 14px;
    }
    .languages a{
        color: #fff;
    }
    .top-content{
        padding-top: 60px;
    }

    .slid-partner .slick-prev{
        left:-10px;
    }
    .slid-partner .slick-next{
        right: -10px;
    }
    .slid-gallery .slick-dots li,
    .slid-gallery .slick-dots li button{
        width: 10px;
        height:10px;
    }
    .other-page .name-mus{
        margin: 15px 0;
    }
    .video-gallery iframe{
        height:300px;
    }
}